public class Main{
    public static void main(String[] args){
        if (hoge()) {
            System.out.println("good");
            System.exit(0);
        }

        System.out.println("bad");
        System.exit(1);
    }

    private static boolean hoge() {
        return $blank1;
    }
}
